/* --------- Global style */

body {
   background-color: white;
   font-family: "Raleway", sans-serif;
   color: #445361;
   margin:0;
   padding:0;
   text-align: center;
}
* {
   box-sizing: border-box;
}

/* --------- Heading */

.heading {
   text-align: center;
   font-size: 2.5rem;
}

.logo {
   height: 40px;
   padding-right: 5px;
}

/*----- Game layout */
.game-area{
background-color: #b1d7f1;
box-sizing: border-box;
width: 85%;
height: 90vh;
max-height: 455px;
max-width: 830px;
margin-left: auto;
margin-right: auto;
border-radius: 6px;
padding: 1.5%;
}
.game-area .question{
   min-height: 50px;
   background-color: #064e4e;
   border-radius: 8px;
   color: white;
   padding: 10px 1px;
   float: left;
   width: 100%;
   font-size: 25px;
}

/* -----Game area questions options, colour highlights to differentiate answers
  flex and flex wrap to align answers and buttons */
.game-area .options{
   float: left;
   width: 100%;
}

.game-area.options ul{
   list-style: none;
   padding: 0%;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}

.game-area .options ul li{
   display: inline-block;
   background-color: #285e78;
   width: 46%;
   padding: 15px;
   border-radius: 8px;
   margin-bottom: 30px;
   margin: 10px;
   color:white;
   box-shadow: 0px 3px 0px #b32c2c;
   cursor: pointer;
}

.game-area .options ul li.correct{
   background-color: rgb(11 110 11);
   box-shadow: 0px 3px 0px #0d2c2c
}

.game-area .options ul li.wrong{
   background-color: #b32c2c;
   box-shadow: 0px 4px 0px #0d2c2c
}

.game-area .options ul li:active{
   box-shadow: 0px 0px 0px  rgb(84, 110, 179);
}

/* -----Game area, score area  */
.game-area .score {
   float: left;
   width: 100%;
}

.game-area .score .next{
   width: 40%;
   float: left;
}

.game-area .score .next button{
   padding: 10px 60px;
   color: white;
   background-color:#064e4e;
   border: none;
   border-radius: 6px;
}

.game-area .score .score-area{
   width: 60%;
   float: left;
   line-height: 40px;
   font-size: 20px;
}

.game-area .score .score-area span{
   background-color: rgb(11 110 11);
   padding: 5px 20px;
   border: none;
   color:white;
   border-radius: 6px;
}
/* -----game restart button */
.game-area .restart button {
 font-size: 20px;
 text-align: center;
 line-height: 20px;
 color: #f30c0c;
 border-radius: 8px;
 display: inline;
}

/* -----Media Queries for different screens  */
/* --------- Media queries max-width 414px */

@media (max-width: 414px) {
   .question {
       width: 100%;
   }

.game-area {
   width: 100%;
   height:170vh;
   max-height: 475px;
}
.game-area .score .score-area {
 font-size: 16px;
}
.game-area .score .next button {
   padding: 8px 30px;
 }
}

 /* --------- Media queries max-width 320px */
}
@media (max-width: 320px) {
   .game-area {
       height: 170vh;
       width: 105%;
       max-height: 475px;
   }
   .game-area .question {
     width: 95%;
   }
   .game-area .score .score-area {
     font-size: 10px;
   }

   .score {
       width: 75%;
       margin: 10px auto;
   }
   .game-area .restart button{
     width: 35%;
   }
   .game-area .score .next button {
       padding: 8px 30px;
     }
 }
