

* {
   box-sizing: border-box;
}
/* auto marging and auto padding removed */
/* --------- Global style */
/* body font and background color */
body {
   background-color: white;
   font-family: "Raleway", sans-serif;
   color: #445361;
   margin:0;
   padding:0;
   text-align: center;
}
/*----- Heading */
.heading {
    text-align: center;
    font-size: 2.5rem;
}
/* logo dimensions  */
.logo {
   height: 40px;
   padding-right: 5px;
}

/*----- Game layout */
.game-area{
   background-color: #b1d7f1;
   box-sizing: border-box;
   width: 85%;
   height: 90vh;
   max-height: 455px;
   max-width: 830px;
   margin-left: auto;
   margin-right: auto;
   border-radius: 6px;
   padding: 1.5%;
   }
/* -----Game question area , background colur and float left  */
   game-area .question{
      min-height: 50px;
      background-color: #064e4e;
      border-radius: 8px;
      color: white;
      padding: 10px 1px;
      float: left;
      width: 100%;
      font-size: 25px;
  }
  
/*  
 .hide {
    display: none;
 }
 */